<?xml version="1.0"?>

<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
<customErrors mode="Off"/>
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

  <system.webServer>
      
      <security>
          <authorization>
              <remove users="*" roles="" verbs="" />
          </authorization>
      </security>
      
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
